<header id="main-header">
    <div class="row no-gutters">
      <div class="col-lg-4 col-md-5 col-sm-12">
        <img src="assets/images/person1.jpg" alt="picture">
      </div>
      <div class="col-lg-8 col-md-7 col-sm-12">
        <div class="d-flex flex-column">
            <div class="p-5 bg-secondary text-white">
              <div class="name d-flex flex-row justify-content-between align-items-center">
                <h1 class="display-4">John Doe</h1>
                <a href="#" class="text-white"><i class="fa fa-twitter fa-2x"></i></a>
                <a href="#" class="text-white"><i class="fa fa-facebook fa-2x"></i></a>
                <a href="#" class="text-white"><i class="fa fa-instagram fa-2x"></i></a>
                <a href="#" class="text-white"><i class="fa fa-github fa-2x"></i></a>
              </div>
            </div>

          <div class="p-4 bg-dark text-white">Experienced Full Stack Web Developer</div>
          <div>
            <div class="d-flex flex-row text-white align-items-stretch text-center">
              <div class="port-item p-4 bg-primary">
                <a href="#home">
                  <i class="fa fa-home d-block fa-3x"></i> Home
                </a>
              </div>
              <div class="port-item p-4 bg-success">
                <a href="#resume">
                  <i class="fa fa-graduation-cap d-block  fa-3x"></i> Resume
                </a>
              </div>
              <div class="port-item p-4 bg-warning">
                <a href="#work">
                  <i class="fa fa-folder-open d-block fa-3x"></i> Work
                </a>
              </div>
              <div class="port-item p-4 bg-danger" >
                <a href="#contact">
                  <i class="fa fa-envelope d-block fa-3x"></i> Contact
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>  
</header>