<div id="work">
    <div class="card card-block bg-warning text-white py-5">
      <div class="card-body">
        <h2 class="card-title">My Porfolio</h2>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, placeat.</p>
      </div>
    </div>  
    <div class="card card-block py-4">
      <div class="card-body">
        <h3 class="card-title">What Have I Built?</h3>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, inventore atque dolore blanditiis sit repudiandae!</p>
        <div class="row no-gutters">
          <div class="col-md-3">
            <a href="https://unsplash.it/1200/768.jpg?image=251" data-toggle="lightbox">
              <img src="https://unsplash.it/600.jpg?image=251" alt="" class="img-fluid">
            </a>
          </div>
          <div class="col-md-3">
            <a href="https://unsplash.it/1200/768.jpg?image=252" data-toggle="lightbox">
              <img src="https://unsplash.it/600.jpg?image=252" alt="" class="img-fluid">
            </a>
          </div>
          <div class="col-md-3">
            <a href="https://unsplash.it/1200/768.jpg?image=253" data-toggle="lightbox">
              <img src="https://unsplash.it/600.jpg?image=253" alt="" class="img-fluid">
            </a>
          </div>
          <div class="col-md-3">
            <a href="https://unsplash.it/1200/768.jpg?image=254" data-toggle="lightbox">
              <img src="https://unsplash.it/600.jpg?image=254" alt="" class="img-fluid">
            </a>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-md-3">
            <a href="https://unsplash.it/1200/768.jpg?image=255" data-toggle="lightbox">
              <img src="https://unsplash.it/600.jpg?image=255" alt="" class="img-fluid">
            </a>
          </div>
          <div class="col-md-3">
            <a href="https://unsplash.it/1200/768.jpg?image=256" data-toggle="lightbox">
              <img src="https://unsplash.it/600.jpg?image=256" alt="" class="img-fluid">
            </a>
          </div>
          <div class="col-md-3">
            <a href="https://unsplash.it/1200/768.jpg?image=257" data-toggle="lightbox">
              <img src="https://unsplash.it/600.jpg?image=257" alt="" class="img-fluid">
            </a>
          </div>
          <div class="col-md-3">
            <a href="https://unsplash.it/1200/768.jpg?image=258" data-toggle="lightbox">
              <img src="https://unsplash.it/600.jpg?image=258" alt="" class="img-fluid">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>  
