<div id="why">
	<h1>Why Bingo Bites</h1>
	<p>It is a long establish fact that a reader will be directed by the readable content of a page when looking at its layout.The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using'Content here,content here',making it look loke readable English.</p>
</div>
<div id="featers">
	<div class="same">
		<h1>Content</h1>
		<p>It is a long establish fact that a reader will be directed by the readable content of a page when looking at its layout.The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using'Content here,content here',making it look loke readable English.</p>
	</div>
	<div class="same">
		<h1>Content</h1>
		<p>It is a long establish fact that a reader will be directed by the readable content of a page when looking at its layout.The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using'Content here,content here',making it look loke readable English.</p>
	</div>
	<div class="same">
		<h1>Content</h1>
		<p>It is a long establish fact that a reader will be directed by the readable content of a page when looking at its layout.The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using'Content here,content here',making it look loke readable English.</p>
	</div>
	<div class="same">
		<h1>Content</h1>
		<p>It is a long establish fact that a reader will be directed by the readable content of a page when looking at its layout.The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using'Content here,content here',making it look loke readable English.</p>
	</div>
</div>
